/*variables*/
:root{
    --lecture-menu: rgb(255, 255, 0);
    --important: darkblue;
    --lien: black;
    --italic: blueviolet;
    --fond-menu: darkgreen;
    --fond-body: rgb(242, 248, 162);
    --bordure: pink;
    --texte-bouton: white;
    --hoover-bouton: rgb(133, 133, 168);
}   
/*GLOBAL*/
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: var(--fond-body);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div, article,.bouton{
    border:5px ridge var(--bordure);
    border-radius: 10px;
    padding:2%;
    margin-left:10%;
    margin-right:10%;  
}
.div-image2{
    border: none;
    padding: 0px;
    margin:0px;
}
span{
    font-style:oblique;
    color: var(--italic);
}
/*particularité menu*/
nav li{
    float:left;
    width:25%;
    text-align: center;
}

nav ul{
    list-style-type: none;
}
nav ul::after{
    content:"";
    display: table;
    clear: both;
}
nav{
    width:100%;
    margin:0px;
    background-color: white;
    position: sticky;
    top:0px;
}
nav a{
    display: block;
    text-decoration: none;
    color:black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}
nav a:hover{
    color: orange;
    border-bottom: 2px solid gold;
}

/*.link{
    text-decoration: none;
    color: var(--lien);
    padding-top: 10px;
    padding-bottom: 10px;
}    
nav{
    height: 60px;
    position: sticky;
    top: 0px;
}
ul{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--fond-menu);
    padding-top: 30px;
    padding-bottom: 30px;
    list-style-type: none ;
}*/
.section1:hover{
    background-color: var(--lecture-menu);
}
.section2:active{
    background-color:var(--lecture-menu);
}
.section3:focus-within{
    background-color:var(--lecture-menu);
}
.section4:visited{
    background-color:var(--lecture-menu);
}
/*Particularités parapgraphes*/
.titre2, em{
    font-weight: bolder;
    color: var(--important);
    font-size: 40px;
}
.backg{
    background-color: var(--texte-bouton);
}

/*les boutons*/
.bouton{
    background-color: var(--important);
    color: var(--texte-bouton);
    text-decoration: none;
    text-align: center;
    font-size: 10px;
    padding-left:20px; 
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 60px;
        &:hover{
            background-color: var(--hoover-bouton);
        }
}
.image2{
    width:8%;
    height:8%;
    position:absolute;
    margin-bottom: -10%;
    z-index:1;
}
.image1{
    width:8%;
    height:8%;
    position: relative;
    bottom:-40px;
    right: -100px;
    
}


@media (max-width: 1023px) {
    body {
        background-color: var(--hoover-bouton);
        .div-image2{
            display: flex;
            justify-content: flex-end;
        }
    }
}
@media (max-width: 767px) {
    body {
        background-color: pink;
        .div-image2{
            display: flex;
            justify-content: center;
        }
    }
}