/*variables*/
:root{
    --lecture-menu: rgb(255, 255, 0);
    --important: darkblue;
    --lien: black;
    --italic: blueviolet;
    --fond-menu: darkgreen;
    --fond-body: rgb(242, 248, 162);
    --bordure: pink;
    --texte-bouton: white;
    --hoover-bouton: rgb(133, 133, 168);
}   
/*GLOBAL*/
body{
    background-color: var(--fond-body);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div, article,.bouton{
    border:5px ridge var(--bordure);
    border-radius: 10px;
    padding:2%;
    margin-left:10%;
    margin-right:10%;  
}
span{
    font-style:oblique;
    color: var(--italic);
}
/*particularité menu*/
.link{
    text-decoration: none;
    color: var(--lien);
    padding-top: 10px;
    padding-bottom: 10px;
}    
nav{
    position: sticky;
    top: 0px;
}
ul{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--fond-menu);
    padding-top: 10px;
    padding-bottom: 10px;
    list-style-type: none ;
}
.section1:hover{
    background-color: var(--lecture-menu);
}
.section2:active{
    background-color:var(--lecture-menu);
}
.section3:focus-within{
    background-color:var(--lecture-menu);
}
.section4:visited{
    background-color:var(--lecture-menu);
}
/*Particularités parapgraphes*/
.titre2, em{
    font-weight: bolder;
    color: var(--important);
    font-size: 40px;
}
.backg{
    background-color: var(--texte-bouton);
}

/*les boutons*/
.bouton{
    background-color: var(--important);
    color: var(--texte-bouton);
    text-decoration: none;
    text-align: center;
    font-size: 10px;
    padding-left:20px; 
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 60px;
        &:hover{
            background-color: var(--hoover-bouton);
        }
}
.image{
    width:8%;
    height:8%;
    position: relative;
    bottom:-40px;
    right: -100px;
    &:hover{
        width:60%;
        height:60%;
    } 
}

@media (max-width: 1023px) {
  body {
    background-color: var(--hoover-bouton);
  }
}
@media (max-width: 767px) {
  body {
    background-color: pink;
  }
}